extends default

block content
  div.container
    each product in products
      div.product
        h2 #{product.name}
        p  #{product.description}
        a(href=`/${product.id}`) Start app
