extends default

block head
    title #{title}
    link(rel='stylesheet', href='/css/style_insider.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

block header

block content
    div.word_placeholder
        h1.word Ez egynagyonnagyonhosszu szo
    div#buttonholder
        button.new_word
            nobr Új szó
        button.hide_show_word hidden button
